{
    "$schema": "https://json.schemastore.org/prettierrc.json",
    "singleQuote": true,
    "bracketSameLine": true,
    "tabWidth": 4,
    "printWidth": 120,
    "endOfLine": "auto",
    "trailingComma": "none",
    "arrowParens": "avoid",
    "htmlWhitespaceSensitivity": "ignore",
    "proseWrap": "never"
}
